{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Preloader ## todo2-->
    <div id="preloader">
        <i class="circle-preloader"></i>
        <img src="{%static 'img/core-img/pizza.png' %}" alt="">
    </div>

    <br>
    <br>
    <br>
    {% include 'partials/_busca.html' %}
    {% include 'partials/_menu.html' %}
    
    <!-- ##### Best Receipe Area Start ##### -->
    <section class="best-receipe-area">
        <div class="container">
            <div class="row">
                {% if apartamentos %}
                {% for  apartamento in apartamentos %}
                <!-- Single Best Receipe Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-best-receipe-area mb-30">
                        {% if apartamento.foto_apartamento == '' %}
                            <img src="{% static 'img/bg-img/imagem1.png' %}" alt="">
                        {% else %}
                            <img src="{{ apartamento.foto_apartamento.url }}" alt="">
                        {% endif %}
                            <div class="receipe-content">
                            <a href="{% url 'apartamento' apartamento.id %}">
                                <h5>{{ apartamento.nome_apartamento }}</h5>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                
                <div class="col-12 col-sm-6 col-lg-4">
                    <p> Apartamento não encontrado</p>
                {% endif %}
            </div>
        </div>
    </section>
    <!-- ##### Best Receipe Area End ##### -->

    {% include 'partials/_footer.html' %}
 
{% endblock %}